/* Import Google Font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  display: flex;
  padding: 0 10px;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
 
    background-image: url('C:\Users\pc\Desktop\QR-Code-Generator-main\QR Code Generator\mmm.png');
  
}
::selection{
  color: #fff;
  background: #3498DB;
}
.wrapper{
  height: 265px;
  max-width: 410px;
position: absolute;
top:0px;
  border-radius: 7px;
  padding: 20px 25px 0;
  transition: height 0.2s ease;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}
.wrapper.active{
  height: 530px;
}
header h1{
  font-size: 21px;
  font-weight: 500;
}
header p{
  margin-top: 5px;
  color: #575757;
  font-size: 16px;
}
.wrapper .form{
  margin: 20px 0 25px;
}
.form :where(input, button){
  width: 100%;
  height: 55px;
  border: none;
  outline: none;
  border-radius: 5px;
  transition: 0.1s ease;
}
.logo{
  width:270px;
  height:180px;
  position:absolute;
left:560px;
top:-40px

}
.aya{
  font-size: large;
  font-weight: 500px;
}
.tel{
  width:270px;
  height:180px;
  position:absolute;
left:600px;
top:63px;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
font-size: medium;
}
.title{
  font-size: 40px;
  color:black;
  text-align:center;
  font-weight: 900;
}
img{
  position: absolute;
  left:-180px;
  width:100px;
  height:100px
}
p{
  font-size: 20px;
  color:black;
  text-align:center;
  font-weight: 400;
}
.form input{
  font-size: 18px;
  padding: 0 17px;
  border: 1px solid #999;
  height: 50px;
}
.form input:focus{
  box-shadow: 0 3px 6px rgba(0,0,0,0.13);
}
.form input::placeholder{
  color: #999;
}
#Add-image{
 visibility: hidden;
}
form{
  position: absolute;
 left:-70px;
margin-top: -20px;
}

.form button{
  color: #fff;
  cursor: pointer;
  margin-top: 20px;
  font-size: 17px;
  background: #3498DB;
}
.form div{
  color :Red;
font-size: 25px;
  text-align: right;
  font-weight: 900;
}
.qr-code{
  opacity: 0;
  display: flex;
  padding: 33px 0;
  border-radius: 5px;
  align-items: center;
  pointer-events: none;
  justify-content: center;
  border: 1px solid #ccc;
}
.wrapper.active .qr-code{
  opacity: 1;
  pointer-events: auto;
  transition: opacity 0.5s 0.05s ease;
}
.qr-code img{
  width: 170px;
}

@media (max-width: 430px){
  .wrapper{
    height: 255px;
    padding: 16px 20px;
  }
  .wrapper.active{
    height: 510px;
  }
  header p{
    color: #696969;
  }
  .form :where(input, button){
    height: 52px;
  }
  .qr-code img{
    width: 160px;
  }  
}